Package: openpgpkey-milter
Version: 0.1
Architecture: all
Maintainer: root <root@unknown>
Installed-Size: 58
Depends: mail-transport-agent, python-unbound, python-gnupg, python-milter
Section: mail
Priority: extra
Homepage: ftp://ftp.nohats.ca/openpgpkey-milter/
Description: OPENPGPKEY basd automatic encryption of emails using the milter API
 The openpgpkey-milter package provides a milter plugin for sendmail or postfix
 that will automatically encrypt plaintext emails if the target recipient is
 publishing an OPENPGPKEY record protected with DNSSEC. This is currently an
 IETF draft (draft-wouters-dane-openpgp)
